.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #E95420;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.mat-header-row {
    background-color: #2979FF;
}

.mat-header-cell {
  color:#f8f9fa;
}

.mat-row {
  height: 25px !important;
}

.mat-paginator {
  height: 60px;
}

.modify-arrow .mat-sort-header-arrow {
  color: #fff !important;
  opacity: 1 !important;
}

input[type="text"],input[type="password"]
{
  font-size:12px;
  width: 100%;
}

label {
  display: block;
  font-size: 12px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.child {
  width: 100%;
}

.btn {
  text-align: center;
  font-size:12px;
  width:100%;
}

legend {
	font-size: 12px;
}

div.ext-box { display: table; width:100%;}
div.int-box { display: table-cell; vertical-align: middle; }
