<div>

    <div class="row justify-content-between ext-box">

      <div class="col-4 int-box">
        <mat-form-field>
          <input matInput placeholder="Search Divisions" #input>
        </mat-form-field>
      </div>

      <div class="col-4 int-box">
        <a mat-button color="primary" (click)="createDivision(companyId)">Create Division</a>
      </div>

    </div>

</div>

<div class="p-2 bg-light border">

    <table mat-table [dataSource]="dataSource" class="table table-hover"
    matSort matSortActive="DivisionName" matSortDirection="asc" matSortDisableClear>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Id Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Id </th>
          <td mat-cell *matCellDef="let division">{{division.id}}</td>
        </ng-container>
        <!-- Division Number Column -->
        <ng-container matColumnDef="DivisionNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Division Number </th>
          <td mat-cell *matCellDef="let division"> {{division.divisionNumber}} </td>
        </ng-container>
        <!-- Division Name Column -->
        <ng-container matColumnDef="DivisionName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Division Name </th>
          <td mat-cell *matCellDef="let division"> {{division.divisionName}} </td>
        </ng-container>
        <!-- City Column -->
        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> City </th>
          <td mat-cell *matCellDef="let division"> {{division.city}} </td>
        </ng-container>
        <!-- Province Column -->
        <ng-container matColumnDef="ProvinceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Province </th>
          <td mat-cell *matCellDef="let division"> {{division.provinceName}} </td>
        </ng-container>
        <!-- General Admin Fee Column -->
        <ng-container matColumnDef="GeneralAdminFee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Admin Fee </th>
          <td mat-cell *matCellDef="let division"> {{division.generalAdminFee/100 | percent:'1.2'}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let division; columns: displayColumns;" (click)="selectDivision(division)"></tr>
       
      </table>
      <mat-paginator class="p-2 bg-light border" [length]="dataSource.total" 
      [pageSizeOptions]="pageSizeOptions" [pageSize]="itemsPerPage" showFirstLastButtons></mat-paginator>
      
</div>
<app-division-details [division]="division" 
                      [provinces]="provinces" 
                      [federalTaxes]="federalTaxes" 
                      [divisionOperation]="divisionOperation"
                      (reloadDivisions)="reloadDivisions($event)">
</app-division-details>