<div *ngIf="company">
  <h2>{{company.companyName}}</h2>
  <tabset id="tabs">
    <tab class="p-2 bg-light border" heading="General Info" id="tabGeneralInfo">
      <div class="col-4 p-3 border">
        <app-company-info [company]="company"
                          [companyOperation]="companyOperation">
        </app-company-info>
      </div>
    </tab>
    <tab class="p-2 bg-light border" heading="Divisions" id="tabDivisions"><app-division-list [companyId]="company.id"></app-division-list></tab>
    <tab class="p-2 bg-light border" heading="Classes" id="tabClasses"><app-class-list [companyId]="company.id"></app-class-list></tab>
  </tabset>
</div>


