<h2 class="text-center text-primary">Sign In</h2>
<form class="form-signin col-3 bg-light border" [formGroup]='loginForm' (ngSubmit)="login()" autocomplete="off">
    <app-text-input 
    [formControl]='loginForm.controls["username"]' 
    [label]='"Username"'>
    </app-text-input>
    <app-text-input 
    [formControl]='loginForm.controls["password"]' 
    [label]='"Password"' 
    [type]='"password"'>
    </app-text-input>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>

