
<br/>
<div *ngIf="division" class="p-3 border">
    <form [formGroup]='divisionForm' (ngSubmit)="divisionForm.valid && handleSubmission()" autocomplete="off">
        <div class="grid-container">            
			<div class="grid-item1 border">
                <fieldset>
                    <legend>Division</legend>
                    <div class="form-row">
                        <div class="col">
                            <app-text-input 
                            [formControl]='divisionForm.controls["divisionNumber"]'
                            [label]='"Number"'>
                            </app-text-input>
                            <app-text-input 
                            [formControl]='divisionForm.controls["divisionName"]'
                            [label]='"Name"'>
                            </app-text-input>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <app-text-input 
                            [formControl]='divisionForm.controls["generalAdminFee"]'
                            [label]='"Admin Fee %"'>
                            </app-text-input>
                        </div>
                        <div *ngIf="division.provinceId" class="col">
                            <table class="border taxFee">
                                <th *ngIf="provincialTaxType=='HST'">HST</th>
                                <th *ngIf="provincialTaxType!='HST'">PST</th>
                                <th *ngIf="provincialTaxType!='HST'">Federal Taxes</th>
                                <tr>
                                    <td>{{taxFeePercentage}}%</td>
                                    <td *ngIf="provincialTaxType!='HST'">
                                        <table class="taxFee">
                                            <tr *ngFor="let tax of federalTaxes">
                                                <td>{{tax.taxTypeName}}({{tax.taxPercentage}}%)</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>                     
			<div class="grid-item2 border">
                <fieldset>
                    <legend>Contact</legend>
                    <div class="form-row">
                        <div class="col">
                            <app-text-input 
                            [formControl]='divisionForm.controls["contactPersonName"]'
                            [label]='"Person"'>
                            </app-text-input>
                            <app-text-input 
                            [formControl]='divisionForm.controls["contactPersonEmailAddress"]'
                            [label]='"Email"'>
                            </app-text-input>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <app-text-input 
                            [formControl]='divisionForm.controls["contactPersonPhoneNumber"]'
                            [label]='"Phone Number"'>
                            </app-text-input>
                        </div>
                        <div class="col">
                            <app-text-input 
                            [formControl]='divisionForm.controls["contactPersonPhoneNumberExt"]'
                            [label]='"Ext."'>
                            </app-text-input>
                        </div>
                        <div class="col">
                            <app-text-input 
                            [formControl]='divisionForm.controls["contactPersonFax"]'
                            [label]='"Fax Number"'>
                            </app-text-input>
                        </div>
                    </div>
                </fieldset>
            </div>    
            <div class="grid-item3 border">  
                <div class="form-row">
                    <div class="col">
                        <app-text-input 
                        [formControl]='divisionForm.controls["address"]'
                        [label]='"Address"'>
                        </app-text-input>
                    </div>
                    <div class="col">
                        <app-text-input 
                        [formControl]='divisionForm.controls["city"]'
                        [label]='"City"'>
                        </app-text-input>
                    </div>
                    <div class="col">
                        <app-select-input
                            [formControl]='divisionForm.controls["provinceId"]'
                            [options]='provinceList'
                            [label]='"Province"'>
                        </app-select-input>
                    </div>
                    <div class="col">
                        <app-text-input 
                        [formControl]='divisionForm.controls["postalCode"]'
                        [label]='"Postal Code"'>
                        </app-text-input>
                    </div>
                </div>
            </div>              
        </div>
        <div class="row mb-2" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="btn-container">
            <fieldset>
                <div class="child">
                    <button [disabled]='!divisionForm.valid' class="btn btn-primary btn-block" type="submit">Save </button>
                </div>
            </fieldset>
        </div>
    </form>
</div>

