<div>

    <div class="row justify-content-between ext-box">

      <div class="col-4 int-box">
        <mat-form-field>
          <input matInput placeholder="Search Companies" #input>
        </mat-form-field>
      </div>

      <div class="col-4 int-box">
        <a mat-button color="primary" (click)="openModal(createcompany)">Create Company</a>
      </div>

    </div>

</div>

<ng-template #createcompany>
  <app-company-create [modalRef]="modalRef" (reloadCompanies)="reloadCompanies($event)"></app-company-create>
</ng-template>

<div class="p-2 bg-light border">

    <table mat-table [dataSource]="dataSource" class="table table-hover"
    matSort matSortActive="CompanyName" matSortDirection="asc" matSortDisableClear>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Id Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Id </th>
          <td mat-cell *matCellDef="let company"> {{company.id}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="CompanyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Name </th>
          <td mat-cell *matCellDef="let company"> {{company.companyName}} </td>
        </ng-container>
        <!-- Year End Date Column -->
        <ng-container matColumnDef="YearEndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Year End Date </th>
          <td mat-cell *matCellDef="let company">
            <span *ngIf="!emptyDate(company.yearEndDate); else displayEmpty">
               {{company.yearEndDate | date:'MM/dd/yyyy'}}
            </span>
            <ng-template #displayEmpty>-</ng-template>
          </td>
        </ng-container>
        <!-- Group Termination Date Column -->
        <ng-container matColumnDef="GroupTerminationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Group Termination Date </th>
          <td mat-cell *matCellDef="let company">
              <span *ngIf="!emptyDate(company.groupTerminationDate); else displayEmpty">
                {{company.groupTerminationDate | date:'MM/dd/yyyy'}}
              </span>
              <ng-template #displayEmpty>-</ng-template>
          </td>
        </ng-container>
        <!-- Commencement Date Column -->
        <ng-container matColumnDef="CommencementDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="modify-arrow"> Commencement Date </th>
          <td mat-cell *matCellDef="let company"> {{company.commencementDate | date:'MM/dd/yyyy'}} </td>
        </ng-container>
        <!-- Include Hsa Claims Column -->
        <ng-container matColumnDef="IncludeHsaClaims">
          <th mat-header-cell *matHeaderCellDef> HSA </th>
          <td mat-cell *matCellDef="let company">
            <mat-icon *ngIf="company.includeHsaClaims" style="color:green">check</mat-icon>
            <mat-icon *ngIf="!company.includeHsaClaims" style="color:red">close</mat-icon>
          </td>
        </ng-container>
        <!-- Include Cost Plus Claims Column -->
        <ng-container matColumnDef="IncludeCostPlusClaims">
          <th mat-header-cell *matHeaderCellDef> Cost Plus </th>
          <td mat-cell *matCellDef="let company">
            <mat-icon *ngIf="company.includeCostPlusClaims" style="color:green">check</mat-icon>
            <mat-icon *ngIf="!company.includeCostPlusClaims" style="color:red">close</mat-icon>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let company; columns: displayColumns;" (click)="selectCompany(company)"></tr>
       
      </table>
      <mat-paginator class="p-2 bg-light border" [length]="dataSource.total" 
      [pageSizeOptions]="pageSizeOptions" [pageSize]="itemsPerPage" showFirstLastButtons></mat-paginator>
      
</div>
