<form [formGroup]='employeeForm' (ngSubmit)="employeeForm.valid && updateEmployee()" autocomplete="off">
    <div class="grid-container">            
        <div class="grid-item1 border">
            <app-text-input 
                [formControl]='employeeForm.controls["firstName"]'
                [label]='"First Name"'>
            </app-text-input>
            <app-text-input 
                [formControl]='employeeForm.controls["middleName"]'
                [label]='"Middle Name"'>
            </app-text-input>
            <app-text-input 
                [formControl]='employeeForm.controls["lastName"]'
                [label]='"Last Name"'>
            </app-text-input>
            <app-date-input
                [formControl]='employeeForm.controls["birthDate"]'
                [label]='"Birthdate"'>
            </app-date-input>
            <app-text-input 
                [formControl]='employeeForm.controls["employeeNumber"]'
                [label]='"Employee Number"'>
            </app-text-input>
            <app-text-input 
                [formControl]='employeeForm.controls["sin"]'
                [label]='"SIN"'>
            </app-text-input>
            <app-select-input
                [formControl]='employeeForm.controls["genderId"]'
                [options]='genders'
                [label]='"Gender"'>
            </app-select-input>
            <app-select-input
                [formControl]='employeeForm.controls["maritalStatusId"]'
                [options]='maritalStatuses'
                [label]='"Marital Status"'>
            </app-select-input>
        </div>
        <div class="grid-item2 border">  
            <div class="form-row">
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["emailAddress"]'
                        [label]='"Email Address"'>
                    </app-text-input>
                    <app-text-input 
                        [formControl]='employeeForm.controls["phoneNumber"]'
                        [label]='"Phone Number"'>
                    </app-text-input>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["address"]'
                        [label]='"Address"'>
                    </app-text-input>
                </div>
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["city"]'
                        [label]='"City"'>
                    </app-text-input>
                </div>
                <div class="col">
                    <app-select-input
                        [formControl]='employeeForm.controls["provinceId"]'
                        [options]='provinces'
                        [label]='"Province"'>
                    </app-select-input>
                </div>
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["postalCode"]'
                        [label]='"Postal Code"'>
                    </app-text-input>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["occupation"]'
                        [label]='"Occupation"'>
                    </app-text-input>
                </div>
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["compensation"]'
                        [label]='"Compensation"'>
                    </app-text-input>
                </div>
                <div class="col">
                    <app-select-input
                        [formControl]='employeeForm.controls["compensationTypeId"]'
                        [options]='compensationTypes'
                        [label]='"Compensation TYpe"'>
                    </app-select-input>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <app-date-input
                        [formControl]='employeeForm.controls["eligibilityDate"]'
                        [label]='"Eligibility Date"'>
                    </app-date-input>
                </div>
                <div class="col">
                    <app-date-input
                        [formControl]='employeeForm.controls["hireDate"]'
                        [label]='"Hire Date"'>
                    </app-date-input>
                </div>
                <div class="col">
                    <app-date-input
                        [formControl]='employeeForm.controls["startDate"]'
                        [label]='"Start Date"'>
                    </app-date-input>
                </div>
                <div class="col">
                    <app-date-input
                        [formControl]='employeeForm.controls["terminationDate"]'
                        [label]='"Termination Date"'>
                    </app-date-input>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["insuranceCompany"]'
                        [label]='"Insurance Company"'>
                    </app-text-input>
                </div>
                <div class="col">
                    <app-text-input 
                        [formControl]='employeeForm.controls["policyNumber"]'
                        [label]='"Policy Number"'>
                    </app-text-input>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <app-select-input
                        [formControl]='employeeForm.controls["divisionId"]'
                        [options]='divisions'
                        [label]='"Division"'>
                    </app-select-input>
                </div>
                <div class="col">
                    <app-select-input
                        [formControl]='employeeForm.controls["classId"]'
                        [options]='classes'
                        [label]='"Class"'>
                    </app-select-input>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <app-checkbox-input
                    [formControl]='employeeForm.controls["smoker"]'
                    [label]='"Smoker"'>
                    </app-checkbox-input>
                    <br/>
                    <app-checkbox-input
                        [formControl]='employeeForm.controls["cob"]'
                        [label]='"COB"'>
                    </app-checkbox-input>
                    <br/>
                    <app-checkbox-input
                        [formControl]='employeeForm.controls["eft"]'
                        [label]='"EFT"'>
                    </app-checkbox-input>
                </div>
                <div class="col">
                    <app-checkbox-input
                        [formControl]='employeeForm.controls["mailCompany"]'
                        [label]='"Mail Company"'>
                    </app-checkbox-input>
                    <br/>
                    <app-checkbox-input
                        [formControl]='employeeForm.controls["evidence"]'
                        [label]='"Evidence"'>
                    </app-checkbox-input>
                    <br/>
                    <app-checkbox-input
                        [formControl]='employeeForm.controls["dependentCoverage"]'
                        [label]='"Dependent Coverage"'>
                    </app-checkbox-input>
                </div>
            </div>
        </div>   
    </div>
    <div class="row mb-2" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="btn-container">
        <fieldset>
            <div class="child">
                <button [disabled]='!employeeForm.valid' class="btn btn-primary btn-block" type="submit">Save </button>
            </div>
        </fieldset>
    </div>
</form>